<app-header titulo="card"></app-header>

<ion-content>

  

  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762_960_720.jpg" >
    <ion-card-content>
      Somos un equipo de estudiantes de la carrera de Ingeniería Informática en Duoc UC sede San Joaquín. Este es un proyecto que nos propusimos con el objetivo de adentrarnos en el mundo de la programación híbrida de aplicaciones móviles utilizando IONIC.
    </ion-card-content>
    
  </ion-card>
</ion-content>
